<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>GST Billing Directory</title>
</head>

<body>

<div class="container">

	<h3>GST Billing calculation</h3>
	<hr>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Product_Code</th>
				<th>Product_Name</th>
				<th>Product_Price</th>
				<th>Product_GST</th>
				<th> Quantity </th>
				<th> Product Total </th>
				<th>Product Total including GST</th>
				<th> </th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="item: ${session.cart}">
				<td th:text="${item.prod.code}" />	
				<td th:text="${item.prod.name}" />	
				<td th:text="${item.prod.price}" />
				<td th:text="${item.prod.gst}" />	
				<td>
				<input th:type="number" name="quantity"  th:min="0" th:value="${item.quantity}" style="width:60px;"/>	<br>
				 <a th:href="${'/cart/inc/'+item.prod.id}">Increase Quantity</a>
				  <a th:href="${'/cart/dec/'+item.prod.id}">Decrease Quantity</a>
				</td>
				<td th:text="${item.prod.price*item.quantity}" />	
				<td th:text="${item.prod.price*item.quantity+item.prod.price*item.quantity*item.prod.gst*0.01}" />	
				<td align="center">
			     <a th:href="${'/cart/remove/'+item.prod.id}"> Remove from List</a>
			     </td>		
				
			</tr>
			<tr>
			  <td colspan="6" style="text-align:center;"> <b>Gross Total </b> </td>
			  <td th:text="${total}"> </td>
			 </tr>
		</tbody>		
	</table>
</div>
<div style="text-align:center">    
	 <a th:href="@{/products/showFormForBilling}">Continue Shopping</a>
	 <br>
	  <a th:href="@{/products/showFormForBilling}">Back to Billing page</a> 
	  <br>
	  <a th:href="@{/products/list}">Back to Product Entry</a>
	  </div>
</body>
</html>



